{% extends 'base.html.twig' %}


{% block title %}Contact | Grid Status Now{% endblock %}

{% block fb %}
	<meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.gridstatusnow.com/contact"/>
    <meta property="og:title" content="Contact | Grid Status Now"/>
    <meta property="og:description" content="Contact the team behind Grid Status Now."/>
    <meta property="og:image" content="http://www.aecom.com/deployedfiles/Internet/Capabilities/Environment/Markets/Cropped_iStock_000003058682Medium_electric%20power%20lines.jpg"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@gridstatusnow">
    <meta name="twitter:creator" content="@mos3abof">
    <meta name="twitter:title" content="Contact | Grid Status Now">
    <meta name="twitter:description" content="Contact the team behind Grid Status Now.">
    <meta name="twitter:image:src" content="http://www.aecom.com/deployedfiles/Internet/Capabilities/Environment/Markets/Cropped_iStock_000003058682Medium_electric%20power%20lines.jpg">

{% endblock %}

{% block contact_active %} active{% endblock %}


{% block content %}
<div class="blog-header">
        <h1>Grid Status Now &raquo;</h1>

        <h2 class="blog-title">Contact Us</h2>
        <!--<p class="lead blog-description">Egypt's power grid load monitor.</p>-->
      </div>

      <div class="row">

        <div class="col-sm-11 blog-main">

          <div class="blog-post">
            <p>
                If you have any feedback, question or suggestions, you can drop us a line on <b>info@gridstatusnow.com</b>.
            </p>
            <p>
                You can also follow us on Twitter (<a href="https://twitter.com/gridstatusnow" target="_blank">@gridstatusnow</a>)
                or like our <a href="https://www.facebook.com/pages/Grid-Status-Now/1463770723903372" target="_blank">facebook page</a>.

          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

{% endblock %}
