{% extends 'base.html.twig' %}

{% if status == 'Danger' %}
    {% set status_class = 'danger' %}
    {% set status_message = 'Danger Zone' %}
{% elseif status == 'Warning' %}
    {% set status_class = 'warning' %}
    {% set status_message = 'Warning Zone' %}
{% elseif status == 'Safe' %}
    {% set status_class = 'success' %}
    {% set status_message = 'Safe Zone' %}
{% else %}
    {% set status_class = 'danger' %}
    {% set status_message = 'Unknown Status. Source seems to be down!' %}
{% endif %}









{% block content %}
<div class="blog-header">
        <h1 class="blog-title">Power Grid Load Status</h1>
        <!--<p class="lead blog-description">Egypt's power grid load monitor.</p>-->
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <p>
            	According to The Egyptian Electric Utility and Consumer Protection Regulatory Agency, 
            	the current load on Egypt's electric power grid is now in the :
            </p>
            <p>
                <span class="text-center text-capitalize btn-lg btn-block btn-{{status_class}}" style="font-size:1.5em;">
                    {{ status_message }}
                </span>
            </p>
            <p>
            	Unfortunately, EGYPTERA's load meter only shows if the power is in the "Safe Zone", "Warning Zone" or "Danger Zone".
            	It also shows the load distribution throughout the day's hours, which I plan to incorporate soon.
            </p>
            <hr>
            <p>
            	To grab the result above programmatically in JSON format use this URL :
            	
            	<pre>http://power-grid-status.mos3abof.com/status</pre>
            </p>
            <p>
            	Example output :
            	
            	<pre>{"status":"Danger"}</pre>
            </p>
            <p>
            	As mentioned above, the EGYPTERA load meter only depicts three values for the power grid load status, 
            	so the value of the JSON object will be either   
            	<code>Danger</code>, <code>Warning</code> or <code>Safe</code>.
            	If the API fails to open and/or parse the source it will return the response <code>Unknown</code>
            </p>
            <hr />
            <p>
            	 Here is a python snippet that calls the API : 
            	 <pre>#!/usr/bin/python
# -*- coding: utf-8 -*-
#@author Mosab Ahmad 

import requests
import json

status = json.loads(requests.get('http://power-grid-status.mos3abof.com/status').text)

print 'Power grid is now in the {} Zone!'.format(status['status'])
            	 </pre>
            	 
            	 An example output :
            	 <pre>Power grid is now in the Danger Zone!</pre>
            </p>
            <hr />
            <p>
            	This project was inspired by 
            	<a href="http://eg.okfn.org/2014/08/egyptera_current_load/" target="_blank">this post</a> 
            	by 
            	<a href="http://tarekamr.appspot.com/" target="_blank">Tarek Amr</a>
            	 on Open Knowledge Foundation Egypt. 
            </p>
            
            <p>
            	If you build anything using this tool, please share it with me. I would love to see your creations :)
            	Please contact me at : grid.monitor@mos3abof.com. All feedback is welcome.
            </p>
            <!--<p>
            	According to the same source, here is the load distribution throughout today :
            	
            	
            	
            </p>-->
            
            <hr />
            <p>Disclaimer :</p>
            <p>
            	This service is created and its code is open sourced in the hope that it will be useful, 
            	but WITHOUT ANY WARRANTY; without even the implied warranty of
            	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
			</p>
			<p>
				See the

				<a href="http://www.gnu.org/licenses/gpl-2.0.html" target="_blank">GNU General Public License</a> for more details.
            </p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>
            	
              	This service parses the data in the 
            	<a href="http://loadmeter.egyptera.org/MiniCurrentLoadClock3.aspx" target="_blank" style="text-decoration:underline;">Load Meter</a>
            	 provided by The Egyptian Electric Utility and Consumer Protection Regulatory Agency 
            	 (<a href="http://egyptera.org/ar/" target="_blank" style="text-decoration:underline;">EGYPTERA</a>)
            	 and presents it in a more human friendly way.
            	 </p><p>
            	 It also provides an API so other developers can build other web and mobile applications on top of it.
			  
			</p>
          </div>
          <!--
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>--><!-- /.blog-sidebar -->

      </div><!-- /.row -->
      
{% endblock %}